.pricing {

    &_header {
        &_title {
            margin-top: 50px;
            margin-bottom: 50px;
            text-align: center;

            h1 {
                font-size: 3.2rem;
            }
        }

        &_desc {
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            // Would normally use this but doesn't align right this time.
            // align-items: center; 
            margin-bottom: 50px;
            &_rating{
                span{
                    svg{
                        fill: $stars;
                    }
                }
            }
            &_rating,
            &_google {
                margin: 0px 20px;

                img {
                    width: 100%;
                    max-width: 100px;
                }
            }

            &_description {
                margin: 0px 10px;
                // Instead of align-items: center; 
                align-self: center;
                p {
                    font-size: 0.8rem;
                    vertical-align: middle;
                    margin: 0;
                }
            }
        }
    }

    &_footer {
        margin-top: 100px;
        margin-bottom: 100px;

        h2 {
            font-weight: 700;
            padding-top: 20px;
        }

        &_stats {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &_header {
                span {
                    font-size: 3.2rem;
                }

                p {
                    margin-top: 0;
                    margin-bottom: 2rem;
                }
            }

            &_link {
                a {
                    display: flex;
                    flex-direction: row;
                    text-decoration: none;
                    color: $main;

                    span {
                        width: fit-content;
                        border-bottom: 1px solid $main;
                        color: $main;
                    }
                }

                &_right {
                    width: 1rem;
                    margin-left: 20px;
                    align-self: flex-start;

                    svg {
                        fill: $main;
                    }
                }
            }
        }

    }

    &_content {
        &_container {
            box-shadow: 0px 0px 2.6rem rgba(0, 0, 0, 0.1);
            margin-bottom: 100px;
        }

        &_header {
            padding: 0.8rem 2rem;
        }

        &_calculator {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: baseline;

            &_intro {
                h2 {
                    font-size: 1.4rem;
                    font-weight: 700;
                }

                margin: .4rem 2rem;
            }

            &_toggle {
                display: flex;

                &_option {
                    font-weight: 600;
                    font-size: 1.2rem;
                    line-height: 2.4rem;
                    color: $gray;
                    transition: color .3s ease-in-out;
                }

                &_option.is-active {
                    color: $fontColor;
                }

                &_switch {
                    position: relative;
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    &--check {
                        position: relative;
                        display: block;
                        width: 3rem;
                        height: 1.8rem;
                        margin: 0 .8rem;
                        border-radius: 10rem;
                        background-color: $main;
                        cursor: pointer;

                        &::after {
                            content: "";
                            display: block;
                            width: 1.8rem;
                            height: 1.8rem;
                            background-color: $white;
                            border-radius: 10rem;
                            border: $main solid .2rem;
                            transition: transform .3s ease-in-out;
                            cursor: pointer;
                        }
                    }

                    &--input {
                        display: none;
                    }
                }
            }

            &_forTotal {
                display: flex;
                flex-direction: row;
                align-items: baseline;
                margin: .4rem 2rem;

                &--label {
                    margin: .4rem;
                    font-size: 1.2rem;
                }
            }

            &_form {
                display: flex;
                flex-wrap: nowrap;
            }

            &_button {
                width: 4.4rem;
                padding: .2rem;
                text-decoration: none;
                text-align: center;
                color: $white;
                background-color: $cta;
                border: .2rem solid $cta;
                transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
                cursor: pointer;

                svg {
                    fill: $white;
                    width: 15px;
                }

                &:hover {
                    background-color: $darkCta;
                    border-color: $darkCta;
                }
            }

            &_input {
                width: 100%;
                display: flex;
                border-top: .1rem solid $inputGray;
                border-bottom: .1rem solid $inputGray;
                border-left: none;
                border-right: none;

                &_field {
                    font-weight: 350;
                    width: 80px;
                    height: 100%;
                    padding: .8rem 1.5rem;
                    background-color: $white;
                    border: none;
                    font-size: 1.2rem;

                    /* Chrome, Safari, Edge, Opera */
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    /* Firefox */
                    &[type=number] {
                        -moz-appearance: textfield;
                    }
                }

                &_suffix {
                    font-weight: 600;
                    font-size: 0.8rem;
                    display: flex;
                    align-items: center;
                    color: $suffixGray;
                }
            }
        }

        &_card {
            text-align: center;
            border-top: .1rem solid $lightGray;
            border-bottom: .1rem solid $lightGray;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &_title {
                font-weight: 700;
            }

            &_description {
                font-weight: 700;
            }

            &_content {
                margin-bottom: 20px;
            }

            &_price {
                display: flex;
                justify-content: center;
                margin-bottom: 0px;

                &--currency {
                    font-weight: 700;
                    font-size: 1.2rem;
                    margin-top: 10px;
                }

                &--total {
                    font-size: 3.2rem;
                    font-weight: 700;
                }
            }

            &_users {
                color: $fontGray;
            }

            &_cta {
                padding: 0.5rem 2rem;
                color: $white;
                background-color: $cta;
                border: .2rem solid $cta;
                transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
                cursor: pointer;

                &:hover {
                    background-color: $darkCta;
                    border-color: $darkCta;
                }
            }

        }
    }
}

.first {
    border-top: .1rem solid $lightGray;
    border-bottom: .1rem solid $lightGray;
    border-right: .05rem solid $lightGray;
}

.second {
    border-top: .1rem solid $lightGray;
    border-bottom: .1rem solid $lightGray;
    border-left: .05rem solid $lightGray;
    border-right: .05rem solid $lightGray;
}

.third {
    border-top: .1rem solid $lightGray;
    border-bottom: .1rem solid $lightGray;
    border-left: .05rem solid $lightGray;
}

.pricing_content_calculator_toggle_switch--input:checked~.pricing_content_calculator_toggle_switch--check::after {
    transform: translateX(1.2rem);
}

// MEDIA QUERIES

@media screen and (max-width: 1400px) {
    .pricing {
        &_header_title {
            h1 {
                font-size: 2.2rem;
            }
        }

        &_content_calculator {
            &_forTotal--label {
                font-size: 0.7rem;
            }

            &_input {
                &_field {
                    font-size: 0.8rem
                }

                &_suffix {
                    font-size: 0.7rem
                }
            }

            &_intro {
                h2 {
                    font-size: 0.8rem;
                }
            }

            &_toggle_option {
                font-size: 0.7rem;
            }
        }
    }
}